.resume {
	display: flex;
	flex-direction: column;
}
.info {
	display: flex;
	flex-direction: row;
}
.info-item {
	display: flex;
	flex-direction: row;
	padding: 7px 10px;
}
.info-item-key::after {
	content: ":";
	padding: 0 5px 0 0;
}
.skills {
	display: flex;
	flex-direction: column;
	min-height: 0;
	flex: 1;
}

